body {
    text-align: center;
}

#enemySpell {
    border-radius: 50%;
    margin: auto;
    height: 40px;
    width: 40px;
}

#enemy {
    display: grid;
    grid-template-columns: 300px 50px;
    margin: auto;
    width: 400px;
}

#enemyImage{
    height: 300px;
}

#player {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin: auto;
    width: 200px;
}

#playerSpell {
    border-radius: 50%;
    margin: auto;
    height: 40px;
    width: 40px;
}

#castManaButton {
    margin: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
}