body {
    text-align: center;
}

#footer {
    text-align: left;
}

#enemySpell {
    border-radius: 50%;
    margin: auto;
    height: 40px;
    width: 40px;
}

#enemy {
    display: grid;
    grid-template-columns: 100px 200px 100px;
    margin: auto;
    width: 400px;
}

#enemyImage{
    height: 200px;
}

#player {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin: auto;
    width: 500px;
}

#playerSpell {
    border-radius: 50%;
    margin: auto;
    height: 40px;
    width: 40px;
}

#castManaButton {
    margin: 15px;
    grid-column-start: 2;
    grid-column-end: 4;
}